$ligthBg: #ffffff;
$darkerBg: #e5eef0;
$btnColor: #29c2e1;
$socialBtnColor: #0000ff;
$objColor: #f69b37;
$iconBgColorDarker: #f7941d;
$mainFontColorDark: #23282f;
$mainFontColorLighter: #55595f;
$fontColorLigther: #93a1a7;
$contactsBorderColor: #d7e3e6;