.copyright {

	.container {
		padding: 22px 0px 73px 0px;
		text-align: center;
	}

	h5 {
		font-family: $headerFont;
		font-family: $headerFont;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 2.5;
		letter-spacing: 0.075em;
		color: $fontColorLigther;
		text-decoration: none;
		text-transform: uppercase;
	}
}